<h2>コメント一覧</h2>
    <% @diary.diary_comments.each do |diary_comment| %>
	    <div class ="diary_comments">   
	      <%= link_to diary_comment.user.nickname,diary_comment.user %>  
	      <span class="comment-date"><%= diary_comment.created_at.strftime('%Y/%m/%d') %></span>
	      <span class="comment-entry"><%= diary_comment.comment %></span>
	      <% unless current_user != diary_comment.user %>
			<%= link_to "削除",  diary_diary_comment_path(@diary.id,diary_comment), method: :delete, remote: true,class: "btn btn-danger btn-lg active" %>
		<% end %>
	      <br>
	    </div>
    <% end %>