<h1><strong><%= @user.nickname %></strong>さんのスケジュール</h1>

<span><strong><%= @user.nickname %></strong>さんの目標内容</span>
<span><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "100x100" %></span>