<body class ="body-layout">
<h1 class ="c"><strong>Growing-Up-Diary</strong>の用途</h1><br>
<p class ="a">1.目標の設定、日々の勉強時間の記録をグラフ化！！<br>
     目標を事前に設定しておき、目標に対して日々の勉強時間を記録することで、グラフでの閲覧が可能です。
</p><br>

<p class ="a">2.日記投機能、他のユーザーの投稿している日記へのいいね機能、コメント機能！！<br>
     自分の目標に対して行ったことの内容などの記録や、日々の出来事の投稿など行うことが可能です。<br>
     日記へのコメントを残すことが可能なので、アドバイスを残す、貰うなどのやり取りが可能です。<br>
     いいね機能もあるので、いいと思った投稿には、是非いいねを！！
</p><br>

<p class ="a">3.スケジュール管理機能！！<br>
     自分の予定を登録することで、当アプリのカレンダーにて予定を確認する事が可能です。	
</p><br>

<p class ="a">4.タスク管理機能(ToDoリスト)!!<br>
     自分の本日中にしなければならない又は、したいことを登録し、登録した事柄を終えるたびに、<br>タスク内を消化していきましょう。タスク内を綺麗にして終えることで、やり忘れも無くなり、<br>スッキリします！！
</p><br>

<p class ="a">5.ユーザーでのフォロー機能！！
	 気になったユーザーがいれば、フォローしましょう！！
</p>
<h1 class ="bb"><strong>Growing-Up-Diary</strong>の目的</h1>
	<p class ="a">Growing-Up-Diaryは、日々継続することで、自分の成長を実感する事、成長することの楽しさ、嬉しさを感じて欲しいと考え、<br>
	<strong>成長</strong>をテーマにしています。<br>
	目標を立てた際に、実現するための使用ツールの1つとして使用しての使用や、スケジュール、日記の投稿など少しでもお役に立てたり、
   楽しみのうちの1つとして使用してくださると幸いです！！</p>
<br><br><br>
<div class ="b">成長のための一歩にお使いください!</div>
<div class="nn">
<div class="row">
  
  <% if user_signed_in? %>
  <div class="col-sm-6">
    <%= link_to 'マイページへ移動する', user_path(current_user.id) %>
  </div>
  <div class="col-sm-6">
    <%= link_to 'スケジュールを確認する', event_user_path(current_user.id) %>
  </div>
  <% else %>
  <div class="col-sm-6">
    <%= link_to '新規登録', new_user_registration_path %>
  </div>
  <div class="col-sm-6">
    <%= link_to 'ログイン', new_user_session_path %>
  </div>
  <% end %>
</div>
</div>
</body>