/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#calendar{
	width:800px;
	margin-left:100px;
}/*スケジュール管理用のカレンダー*/

.container-fluid{
	background-color:#FFF0F5;
}/*ヘッダーの背景色変更*/

.sign-back{
    background-color:#CEF9DC;
}/*新規登録画面、ログイン画面*/

.sign-headline{
 margin-left:30px;
 font-size:30px;
 background-color:coral;
 }  /*サインインアップ画面のの各見出し*/

 .name-kana-mei{
 margin-left:14px;
 height:40px;
 } /*新規登録画面の名前（性）、（名）の入力部分*/

 .form-sign-up{
 margin-left:55px;
 height:40px;
 } /*新規登録画面の名前、フリガナを除く入力部分*/

 .sign_btn{
 margin-left:700px;
 }/*新規登録画面の新規登録ボタン*/

 .sign-body{
 margin-top:15px;
 margin-left:200px;
 } /*新規登録画面のbody全体*/

.sign-form{
 height:40px;
 } /*新規登録画面のフリガナ入力部分*/

.sign_nodisplay{
	display:none;
}/*新規登録画面の都道府県選択部分*/

.log-nav{
 margin-left:80px;
 font-size:18px;
 }/*新規登録画面の、ログイン画面へ部分*/

 .log_btn{
 margin-left:520px;
 } /*ログイン画面のログインボタン*/

 .log-headline{
 margin-left:80px;
 font-size:30px;
 background-color:coral;
 }  /*ログイン画面画面の各見出し*/

 .log-body{
 margin-top:150px;
 margin-left:200px;
 } /*ログイン画面のbody全体*/

 .log-form{
 height:40px;
 } /*ログイン画面の入力フォーム部分*/

 .log-item{
 font-size:25px;
 } /*ログイン画面の入力フォームの項目部分*/

 .sign-nav{
 margin-left:80px;
 font-size:18px;
 }/*ログイン画面の、こちらから新規登録を行ってください部分*/