// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-layout{
	background-image: image-url("top_image.jpg");
	background-size: 100% 1300px;
	background-position:top;
    color: white;
    background-repeat: no-repeat;
    opacity: 1;
} /*トップページのbody内背景画像設定*/

.top-content{
	font-size:20px;
	margin-left:170px;
}/*トップページの各項目の補足部分*/

.top-content-title{
    margin-top:30px;
	font-size:50px;
	color:white;
	text-align:center;
}/*トップページの各項目部分*/

.top-nav{
	font-size:50px;
	color:white;
	text-align: center;	
}/*トップページのログインの有無によっての表示部分*/