// Place all the styles related to the Stacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stack-body{
	background-color:#CEF9DC;
}/*勉強時間一覧画面のbody*/

.stack-content{
	margin-left:50px;
}/*勉強時間一覧画面のbody（ヘッダー除く）*/

.stack-headline{

}/*勉強時間一覧画面のテーブル見出し*/

.stack-tbody{
	font-size:25px;
}/*勉強時間一覧画面のテーブル内容*/

.stack-edit-body{
	background-color:#CEF9DC;
}/*勉強時間編集画面のbody*/

.stack-edit-content{
	margin-top:100px;
}/*勉強時間編集画面のbody（ヘッダー除く）*/